@import "true";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

// Import the breakpoints utility.
@import "../tools/breakpoints/bp";

$mock: (
  none: 0,
  small: 350px,
  large: 960px
);

@include test-module("bp() Mixin") {

  @include test("Single argument [min-width]") {
    @include assert("Should output a min-width query at the passed width.") {
      @include output {
        @include bp(small, $mock) {
          color: #f00;
        }
      }

      @include expect {
        @media (min-width: 350px) {
          color: #f00;
        }
      }
    }
  }

  @include test("Double argument [min/max-width range]") {
    @include assert("Should output a min/max width query range subtracting a pixel off the max-width value.") {
      @include output {
        @include bp(small large, $mock) {
          color: #f00;
        }
      }

      @include expect {
        @media (min-width: 350px) and (max-width: 959px) {
          color: #f00;
        }
      }
    }
  }

  @include test("Double argument [max-width]") {
    @include assert("Should output a max-width query subtracting a pixel off the value.") {
      @include output {
        @include bp(none large, $mock) {
          color: #f00;
        }
      }

      @include expect {
        @media (max-width: 959px) {
          color: #f00;
        }
      }
    }
  }
}
